<!--<footer class="bg-center cover ph3 pv4 white" style="background-image: url('/img/Israel-sunset.jpg');">-->
<footer class="bg-black ph3 pv4 white">
	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo-nicefill.png" alt="The Home Church logo" class="db w4 center mb4 br0" style="position: relative; left: 8px;">

				<ul class="mb3" style="text-align: center;">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/gallery" class="link">Photo Gallery</a></li>
					<li><a href="/songs" class="link">Song Lists</a></li>
					<li><a href="/links" class="link">Links</a></li>
					<li><a href="/contact" class="link">Contact Us</a></li>
				</ul>
		</div>



	</div>
</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
