<!--<footer class="bg-center cover ph3 pv4 white" style="background-image: url('/img/Israel-sunset.jpg');">-->
<footer class="bg-black ph3 pv4 white">
	<div class="mw7 center pt3">
		<div class="measure-narrow center mb4">

			<a href="/"><img src="/img/logo-nicefill.png" alt="Home Church" class="db w4 center mb4 br0" style="position: relative; left: 8px;"></a>
				<ul class="mb3" style="text-align: center;">
					<li><a href="https://www.facebook.com/GladstoneChurches"><img src="/img/32px-fb_icon.png" alt="Facebook" style="max-width: 32px !important;"></a></li>
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/placards" class="link">Media Wall</a></li>
					<li><a href="/events" class="link">Upcoming Events</a></li>
					<li><a href="/gallery" class="link">Photo Gallery</a></li>
					<li><a href="/songs" class="link">Song Book</a></li>
					<li><a href="/links" class="link">Links</a></li>
					<li><a href="/contact" class="link">Contact Us</a></li>
				</ul>
				<div style="text-align: center">
				    <span style="display: inline-block;">
					<div style="display: inline-block; vertical-align: middle; text-align: center;">New visitors to this site</div><div style="display: inline-block; vertical-align: middle; text-align: center;" class="counter-wrapper"></div>
				    </span>
				</div>
		</div>


	</div>
</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
