<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# business: http://ogp.me/ns/business#">

	<title>Home Church {{ .Title }} — Seeking fellowship like the early church</title>

	<link rel="stylesheet" href="/css/main.css">

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<!-- OLD <meta name="google-site-verification" content="BW9shgibu-HJnm_7b3bA_QbdACvHv3TtAu64dVE5c9Y">-->
	<meta name="google-site-verification" content="bbLfUZ85MIcDOuTrDzW9pLey6n4XEbz6P_7PfpIKKfw" />
	<meta name="geo.region" content="AU-QLD" />
	<meta name="geo.placename" content="Gladstone" />
	<meta name="geo.position" content="-23.88;151.23" />
	<meta name="ICBM" content="-23.88, 151.23" />
	<meta http-equiv="content-language" content="en-GB">
	<meta name="msvalidate.01" content="961315670CF469EC343BBCBF89452408">

    {{ if .Params.pagedesc }}
	<meta name="Description" content="{{ .Params.pagedesc }}">
    {{ else }}
	<meta name="Description" content="We are a group of Christians seeking to fellowship like the early church, meeting in our homes and encouraging everyone to participate. We meet at various locations around Gladstone, Calliope and Tannum Sands.">
    {{ end }}

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#ff4400">
	<meta name="theme-color" content="#fff">

	<!-- Open Graph -->
	<!-- <meta property="fb:app_id" content="302184056577324"> --> 
	<meta property="og:type" content="place">
	<meta property="og:title" content="Home Church — Fellowship like the early church">
	<meta property="og:url" content="https://thehomechurch.com.au">
	<meta property="og:image" content="/img/og-image.jpg">
	<meta property="og:description" content="We are a group of Christians seeking to fellowship like the early church, meeting in our homes and encouraging everyone to participate. We meet at various locations around Gladstone, Calliope and Tannum Sands.">

	<meta property="place:location:latitude" content="-23.88">
	<meta property="place:location:longitude" content="151.23">

	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/sss/sss.css">
	<script type="text/javascript" src="/sss/sss.js"></script> 

	<script type="text/javascript" src="/unitegallery/js/unitegallery.min.js"></script>
	<link rel="stylesheet" href="/unitegallery/css/unite-gallery.css" type="text/css"> 
	<script type="text/javascript" src="/unitegallery/themes/default/ug-theme-default.js"></script> 
	<link rel="stylesheet" href="/unitegallery/themes/default/ug-theme-default.css" type="text/css"> 

<!-- Conflicts with default css fonts
	<link rel="stylesheet" href="//unpkg.com/tachyons/css/tachyons.min.css">
-->
	<link rel="stylesheet" href="/tachyons/skins.css">


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113922118-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113922118-1');
</script>



</head>
