<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/logo.png" style="min-width: 150px;" alt="The Home Church logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/gallery" class="pa3 no-underline db">Gallery</a></li>

		<li><a href="/songs" class="pa3 no-underline db">Songs</a></li>

		<li><a href="/links" class="pa3 no-underline db">Links</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>
	</ul>

</nav>
