<nav class="overflow-x-scroll overflow-x-visible-l flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a id="logotop" href="/" class="pa3 db mr4 h-100 w3 flex-none" style="visibility: hidden; min-height: 130px; width:200px;">
		<img id="logotop-img" src="/img/logo-nicefill.png" style="min-width: 150px;" alt="The Home Church logo" class="br0 db mb0 w-100" style="display: none;"/>
	</a>

	<!-- Primary Nav -->
	<ul id="navbar" class="flex b grey-3" style="display: none;">
		<li><a href="/gallery" class="pa3 no-underline db">Gallery</a></li>

		<li><a href="/songs" class="pa3 no-underline db">Songs</a></li>

		<li><a href="/links" class="pa3 no-underline db">Links</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>
	</ul>

</nav>

<script type="text/javascript">
    $(document).ready(function(){
	$("#logotop").css("visibility", "visible");
	$("#logotop-img").css("display", "none");
	setTimeout(function(){
            $("#logotop-img").fadeIn(1500);
            $("#navbar").fadeIn(1500);
	}, 1000);
    });

    // reload page when orientation changes
    if (window.DeviceOrientationEvent) {
	window.addEventListener('orientationchange', function() {
	    $('meta[name=viewport]').remove();
	    $('head').append('<meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=0">');
	}, false);
    }
</script>
