{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

<a name="index" style="position: relative; top: 2em;"></a>

{{ partial "songs" .Params.intro }}


<div class="pb4">
  {{ $.Scratch.Set "songbook" .Params.pdf }}
  {{ range .Params.songs }}
    {{ $.Scratch.Set "songbookpage" .page }}
    {{ $.Scratch.Add "songbookpage" 1 }}

    <a name="item{{ .page }}"></a>
    {{ partial "song" (dict "pdf" ($.Scratch.Get "songbook") "page" ($.Scratch.Get "songbookpage") "song" .song) }}
  {{ end }}
</div>

<div class="mw7 center">
  <div class="mw6 ph3 mb3">
    <p>{{ .Content }}</p>
  </div>
</div>

<!--<blockquote class="bg-grey-1 primary pa3 mb3 br1 b mw6 center">
	<p class="f4 mb0">{{ .Content }}</p>
</blockquote>-->

{{ end }}